@keyframes pulsate {
  0% {
    opacity: scale(1);
  }
  50% {
    opacity: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.about {
  padding: 100px 0px;
  background-color: #0a2850;
  color: #fff;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.about__title {
  margin: 0;
  font-size: 44px;
  line-height: 52px;
  font-weight: 500;
  z-index: 1;
  max-width: 251px;
  font-family: "Inter", "Times new roman", serif;
  font-style: normal;
}

.about__content {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  max-width: 660px;
  z-index: 1;
  position: relative;
  margin-top: 19px;
  margin-bottom: 173px;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  position: absolute;
  top: -152px;
  border-radius: 50%;
  left: -129px;
}

.about__circle--animation-blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}

.about__paragraph {
  margin: 0 0 20px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}
