.form{
  max-width: 385px;
  }

  .form__fieldset{
  padding: 0;
  border: none;
  margin: 0;
  }

  .form__label{
    margin-bottom: 32px;
    display:block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  .form__input::placeholder{
      font-family: 'Inter', sans-serif; /* Specifies the font family */
      font-style: normal; /* Normal font style */
      font-weight: normal; /* Normal font weight, equivalent to font-weight: 400 */
      font-size: 20px; /* Font size of 20px */
      line-height: 30px; /* Line height of 30px */
      color: #838383; /* Color of the placeholder text */
  }

  .form__label_type_checkbox{
    display:flex;
    justify-content: center;
  }

  .form__input{
    display:block;
    max-width: 385px;
    width:100%;
    padding:0;
    box-sizing: border-box;
    margin-top: 8px;
    border-radius: 4px;
    height: 60px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #838383;
  }

  .form__button{
    font-family: 'Inter', sans-serif; /* Setting the font family to Inter */
    font-style: normal;               /* Font style is normal (not italic or oblique) */
    font-weight: 500;                 /* Medium font weight, which is semi-bold */
    font-size: 16px;                  /* Font size of 16 pixels */
    line-height: 20px;
    height: 60px;
    width:100%;
    padding:0;
    border:none;
    margin-bottom: 32px;
    border-radius: 4px;
    transition: opacity 0.3s ease;
    background-color: #2f80ed;
    color:white;
    cursor: pointer;
  }

  .form__button:hover{
  opacity: 0.7;
  }

  .form__checkbox{
  border-radius: 2px;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  }