.header {
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}

.header__title {
  max-width: 729px;
  font-style: normal;
  font-size: 60px;
  line-height: 72px;
  margin: 183px 0 0;
  letter-spacing: -0.6px;
  font-weight: 500;
}

.header__description{
  font-family: "Noto serif","Times New Roman",serif;
  max-width: 683px;
  font-size: 20px;
  font-style: normal;
  font-weight: normal;
  line-height: 30px;
  margin: 28px 0 0;
}

.header__image {
  z-index: -1;
  position: absolute;
  width: 646px;
  height: 568px;
  right: 5px;
  top: 124px;
}

.header__span-accent{
  display: block;
  font-family: "Noto Serif","Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2F80ED;
}

.header__footer{
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  font-family: "Inter";
  font-style: normal; /*test*/
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  align-items: flex-end;
}

.header__paragraphs{
  margin: 0;
}