.menu{
  padding: 100px 0 100px;
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu__title{
  text-align: center;
  margin:0 0 24px ;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle{
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 0 0 100px;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
}

.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:100px;
  padding:0;
  margin: 0;
  list-style-type: none;
}