.nav {
  display: flex;
  justify-content: space-between;
  padding: 0;
  }

  .nav__logo{
    position: relative;
    left: -50px;
    width: 105px;
    height: 39px;
  }

  .nav__links {
    display: flex;
    padding: 0;
    margin:0;
    list-style-type: none;
    gap: 20px;
    justify-content: space-between;
  }

  .nav__link {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
  }

  .nav__link:hover {
    color: #1f69c9;
  }