.page {
  font-family: 'Inter', 'Noto Serif', Arial, 'Times New Roman', sans-serif, serif;
  font-size: 16px;
  line-height: 20px;
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
}

body {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #333;
  background-color: #f4f4f4;
  padding: 20px;
}
