.page {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    min-width: 1100px;
    max-width: 1600px;
}

.page h1, .page h2, .page h3, .page h4, .page h5, .page h6 {
  /* Specific font for headings within .page */
  font-family: 'Noto Serif', 'Times New Roman', serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  z-index: 1;
}

body {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #333;
  background-color: #f4f4f4;
  padding: 20px;
}

footer {
}
